<nz-layout class="layout">
  <nz-header>
    <div *ngIf="!isMobile; else mobileTemplate">
      <nz-row nzType="flex" nzJustify="start" nz-menu nzTheme="dark" nzMode="horizontal">
        <nz-col nzSpan="4" nz-menu-item>MOVIES 1</nz-col>
        <nz-col nzSpan="4" nz-menu-item>MOVIES 2</nz-col>
        <nz-col nzSpan="4" nz-menu-item>MOVIES 3</nz-col>
        <nz-col nzSpan="8" nz-menu-item></nz-col>
        <nz-col nzSpan="2">
          <span> Options </span>
        </nz-col>
      </nz-row>
    </div>
   <ng-template #mobileTemplate>
     <span>Mobile template</span>
   </ng-template>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">Content</div>
  </nz-content>
  <nz-footer>Basic Exercise ©2020 Implement By Angular</nz-footer>
</nz-layout>
